.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal .top-logos {
    display: inline-block;
    width: 100%; }

.reveal .itam-logo {
    float: left;
    width: 296px;
    height: 100px;
}

.reveal code {
    font-size: 20pt;
}

.MathJax {
    font-size: 75%;
}
